<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="bin/internal-nlog.txt">

  <targets>
    <target xsi:type="File"
            name="allFile"
            fileName="logs/all-${shortdate}.log"
            layout="${longdate} | ${uppercase:${level}} | [${threadid}] | ${logger} | ${message} ${exception:format=tostring}"
            archiveAboveSize="10485760"
            maxArchiveFiles="100" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="allFile"/>
  </rules>
</nlog>